#editor {
    width: calc(100% - 80px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    resize: none;
    outline: none;
}

#sidebar {
    top: 0;
    left: 0;
    height: 100%;
    resize: none;
    outline: none;
    position: absolute;
    background-color: rgb(169, 175, 179);
    width: 80px;
    border-right: 3px solid rgb(102, 102, 229);
}

#sidebar a:last-child {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

a:hover {
    cursor: pointer;
}
